body {
  background-image: url(https://uploads.codesandbox.io/uploads/user/99d5074a-0716-436c-a67f-33cdd0d16f02/mJGk-Nano.png),
    linear-gradient(260deg, #60676b 0%, #dae2e7 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: sans-serif;
  background-attachment: fixed;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.flex-nav ul {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  display: flex;
  flex: 4;
}

.flex-nav input {
  border-radius: 3px;
  flex: 2;
  margin: 15px 10px;
}

.flex-nav .social {
  flex: 1;
  align-self: center;
}

.flex-nav a {
  color: rgb(16, 150, 245);
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, -1);
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.flex-nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.flex-footer {
  margin-left: -40px;
  display: flex;
  list-style: none;
}

.flex-footer li {
  display: flex;
}

.flex-footer .address {
  flex: 4;
}

.flex-footer .social {
  flex: 1;
}

.flex-footer a {
  padding: 20px 0px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  background: rgba(0, 0, 0, -1);
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.flex-footer a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.vendor {
  background: rgba(255, 255, 255, 0.4);
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  justify-content: space-between;
  flex: 1 1 200px;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.vendor-name {
  font-weight: bold;
  font-size: 17px;
}

.vendor > * {
  flex: 1 1 250px;
}

.vendor ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vendor ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 10px;
}

.vendor ul li:last-child {
  border-bottom: 0;
}

.vendor a {
  height: 15px;
  text-decoration: none;
  background: #feff00;
  padding: 10px;
  color: black;
  border-radius: 4px;
}

.vendor h2 {
  color: white;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.vendors-props {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  color: rgb(16, 150, 245);
  letter-spacing: 2px;
}

.flex-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.list-features {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  flex-direction: column;
  list-style: none;
}

.list-features li {
  margin-left: -40px;
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

.list-features li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.list-features li > * {
  flex: 1;
  text-align: center;
}

@media only screen and (max-width: 600px) {

  .body {
    overflow: hidden;
    zoom: 0;
  }

  .wrapper {
    display: inline-block;
    padding: 0;
  }
}
